{# templates/registration/register.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="auth-container">
    <h1>Créer un compte</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.imageIdentite) }} {# Le champ photo #}

        <button type="submit" class="btn btn-primary">S'inscrire</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}